extends master.pug
block content
    ul#tableList
        each actor in actors
            li
                a(href=`/actor/${actor._id}`)= actor.name
                a.btn(href=`actor/delete/${actor._id}`)='  Delete'
    a(href="/actor/new") Add new Actor
