extends master.pug
block content
    ul#tableList
        each director in directors
            li
                a(href=`/director/${director._id}`)= director.name
    a(href="/director/new") Add new Director
