extends master.pug
block content
    ul#tableList
        each director in directors
            li
                a(href=`/director/${director._id}`)= director.name
                a.btn(href=`director/delete/${director._id}`)=     '    Delete'
    a(href="/director/new") Add new Director
