html
    block head
        title IMDbehave
        style(type="text/css")
            include default.css
    block body
        h1 IMDbehave
        nav#navigation
        section#content
            block content
                p This is where your content should go
        block scripts
