extends master.pug
block content
    ul#tableList
        each movie in movies
            li
                a(href=`/movie/${movie._id}`)= movie.name
                a.btn(href=`movie/delete/${movie._id}`)='  Delete'
    a(href="/movie/new") Add new movie
